iso_tmp_data
boot/UEFI/gnu-efi
tools/*
!tools/Makefile
!tools/initrd.c
initrd.tar.gz
kernel/files/ter-powerline-v12n.psf
kernel/files/zap-ext-light20.psf
kernel/files/zap-ext-light24.psf
kernel/files/zap-light16.psf
*.log
*.drv
*.o
*.a
*.so
*.elf
*.bin
*.sym
*.map
*.fsys
*.img
*.iso
*.EFI
*.efi
