limine-bootloader
tools/binutils-gdb
tools/limine
tools/gcc
tools/build.sh
tools/build-binutils
tools/build-gcc
tools/cross
tools/qemu
initrd.tar.gz
kernel/files/*
*.log
*.o
*.elf
*.bin
*.sym
*.map
*.fsys
*.img
*.iso